@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <uniquifier>: Use a unique and descriptive class name
  <weight>: Use a value from 100 to 900 */

body {
  font-family: "Montserrat", sans-serif;
}
